/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Google Sans Flex', 'Times New Roman';
}

h1, h2, h3 {
    font-family: 'Bebas Neue', 'Times New Roman';
    text-align: center;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

header {
    background-color: rgb(239, 143, 16);
}

.main-bread {
    height: 200px;

    background-image: linear-gradient(
        rgba(76, 50, 50, 0.6), rgba(76, 50, 50, 0.6)
        ), url("../resources/mohamed-hassouna-bread.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo-nova, .subtitulo-nova {
    margin: 0px;
}


/*PREVIEW PRODUCTOS*/

.conjunto-productos {
    justify-content: center;
    display: grid;
    gap: 70px 100px;
    grid-template-columns: repeat(3, 200px);
}

.producto {
    display: flex;
    flex-direction: column;
    width: 200px;

    box-shadow: 0px 0px 20px rgba(76, 50, 50, 0.6);
    border-radius: 10px;

    padding: 10px;
    text-align: center;
}

.producto-imagen {
    height: 200px;
    width: 200px;
    object-fit: cover;
}